  
<!DOCTYPE html>
<html>
<body>
<head>

<style>

  <!-- CSS styling for our HTML report -->
  {% include 'stylesheet.css.j2' %}
</style>
<title>F5 Status Report</title>

</head>
<center>F5 Status Reporter</center>
<br>
<br>
<table class="paleBlueRows">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Full Path</th>
            <th>VIP IP</th>
            <th>Destination_Port</th>
            <th>Protocol</th>
            <th>Pool</th>
            <th>Persistance</th>
            <th>Status Reason</th>

        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr class='{{  item['Status']  }}'>
            <td>{{ item['Name'] }}</td>
            <td>{{ item['Status'] }}</td>
            <td>{{ item['Full_Path'] }}</td>
            <td>{{ item['Destination'] }}</td>
            <td>{{ item['Destination_Port'] }}</td>
            <td>{{ item['Protocol'] }}</td>
            <td>{{ item['Pool'] }}</td>
            <td>{{ item['Persistance'] }}</td>
            <td>{{ item['Status_Reason'] }}</td>

            
        </tr>
        {% endfor %}
    </tbody>
</table>